.container{
	background: #0fafed;
}

.fs-message-error{
	color: white;
}

.dropzone{
	background: transparent;
	border: none;
}

.fs-fields textarea{
	border: none;
}

.fs-fields input{
	color: white;
}

.fs-numbers{
	visibility: hidden !important;
}

.fs-nav-dots{
	top:0px;
	-webkit-transform:none;
	transform:none;
	overflow: hidden;
	height: 160px;
}

.button.fs-dot-current::before{
	color:white;
}

button.fs-dot-current-100::before{
	opacity: 1;
}

button.fs-dot-current-50::before{
	opacity: 0.5;
}

button.fs-dot-current-40::before{
	opacity: 0.4;
}

button.fs-dot-current-20::before{
	opacity: 0.2;
}

button.fs-dot-current-10::before{
	opacity: 0.1;
}

.cs-skin-boxes > span{
	display: inline-block;
}

.fs-form div.cs-select.cs-skin-boxes{
	display: inline;
}

.bv-tag-selection-display span::after{
	content : '\2716';
	right: 1em;
}

button.btn-mobileSelect-gen{
	text-align: center;
	margin: 0 auto;
	display: block;
	border: 2px solid white;
	padding: 20px 30px;
	font-size: 18px;
	color: white;
	border-radius: 20px;
}